body{
	background:url("../Image/bodybg.png");
	background-repeat: no-repeat;
 	background-size: cover;
	background-position: center;
}
#searchError{
	color: white;
	font-family: arial;
}
#mainTitle{
	font-family: arial;
	color: white;
	margin: 50px auto;
	
}
#contactTitles{
	margin-bottom: 15px;
	color: white;
	font-family:arial;
}
#contactSubTitles{
	margin-top: 20px;
	margin-bottom: 30px;
}

#contactSubTitles a{
	font-family: arial;
	color: black;
	text-decoration: none;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
	transition: ease 500ms;
	
}
#contactSubTitles a:hover{
	color: white;
	background-color: black;
	padding: 20px;
	border-radius: 10px;
	font-size: 20px;
	transition: ease 500ms;
}

#contactField::placeholder{
	font-size: 20px;
}
#contactField{
	width: 250px;
	border-style: none;
	height: 30px;
	border-radius: 10px;
	padding: 10px;
	transition: ease 500ms;
	font-size: 20px;
}
#contactField:focus{
	color: white;
	outline: none;
	background-color: black;
	transition: ease 500ms;
}

#contactFieldTA::placeholder{
	font-size: 20px;
}
#contactFieldTA{
	width: 350px;
	border-style: none;
	border-radius: 10px;
	padding: 10px;
	transition: ease 500ms;
	font-size: 20px;
}
#contactFieldTA:focus{
	color: white;
	outline: none;
	background-color: black;
	transition: ease 500ms;
}

#contactFieldBTN{
	background-color: white;
	color:black;
	border-style: none;
	border-radius: 10px;
	width: 100px;
	height: 50px;
	font-size: 20px;
	transition: ease 500ms;
}
#contactFieldBTN:hover{
	background-color: black;
	color:white;
	font-weight: bolder;
	border-style: none;
	border-radius: 10px;
	width: 110px;
	height: 60px;
	font-size: 25px;
	transition: 500ms ease;
}


#returnHome{
	height: 50px;
	width: 150px;
	background-color: white;
	border-style: none;
	border-radius: 10px;
	font-size: 15px;
	transition: ease 500ms;
}
#returnHome:hover{
	height: 60px;
	width: 170px;
	color: white;
	font-weight: bolder;
	font-size: 17px;
	background-color: black;
	transition: ease 500ms;
}


#returnContact{
	height: 50px;
	width: 150px;
	background-color: white;
	border-style: none;
	border-radius: 10px;
	font-size: 15px;
	transition: ease 500ms;
}
#returnContact:hover{
	height: 60px;
	width: 170px;
	color: white;
	font-weight: bolder;
	font-size: 17px;
	background-color: black;
	transition: ease 500ms;
}
#noResultSection{
	margin-bottom: 260px;
}
#thankYouSection{
	margin-bottom: 400px;
}
.content{
	width: 75%;
	padding-bottom: 100px;
}
.contactContainer{
	display: flex;
}
.contactSection{
	width: 50%;
}
.categoryContainer{
	height: auto;
	flex-wrap: wrap;
	display: flex;
}

.categorySection{
	width:25%;
	height: 500px;
	justify-content: center;
	margin-bottom: 125px;
	
}

.categoryName{
	text-align: center;
	font-family: arial;
	color:white;
}

.categoryLink{
	margin: auto;
	background-color: white;
	padding: 10px;
	color: black;
	border-radius: 5px;
	border-style: none;
	transition: ease 500ms;
	font-size: 16px;
	display: block;
	margin-left: 10px;
	
}
.categoryLink:hover{
	background-color: black;
	color: white;
	transition: ease 500ms;
	font-weight: bolder;
}
.categoryButton{
	align-items: center;
	margin: auto;
	justify-content: center;
	display: flex;
}

.categoryButton a{
	text-decoration: none;
}

.categoryImage{
	text-align: center;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	justify-content: center;
}