.globalHeader{
	background-color: #000000;
	background-image: url("../Image/background1.gif");
}
.headerContainer{
	display: flex;
}


.logoText{
	color: #FFFFFF;
	font-family: Verdana;
	width: 25%;
	padding-top: 2%;
	padding-right: 20%;
}

.headerLogo{
	margin-left: 5%;
	display: flex;
	width: 25%;
	height: 100px;
	
}
.headerLogo img{
	height: 100%;
}

.globalNav{
	width: 50%;
}
.navSearch{
	background-color: aqua;
	height: 100px;
	width: 50%;
}
#searchBtn img{
	width: 10%;
}

.globalHeader{
	background-color: #000000;
	background-image: url("../Image/background1.gif");
}
.headerContainer{
	display: flex;
}


.logoText{
	color: #FFFFFF;
	font-family: Verdana;
	width: 25%;
	padding-top: 2%;
	padding-right: 20%;
}

.headerLogo{
	margin-left: 5%;
	display: flex;
	width: 25%;
	height: 100px;
	
}
.headerLogo img{
	height: 100%;
}

.globalNav{
	width: 50%;
}
.navSearch{
	background-color: aqua;
	height: 50px;
	width: 50%;
}
#searchBtn{
	width: 50%;
	height: 50%;
	background-image: url("");
	background-color: transparent;
}

.NavSearch{
	display: flex;
}
.navList{
	list-style: none;
}
.listItem{
	display: inline-block;
	font-size: 125%;
	font-family: arial;
	font-weight: bolder;
	padding: 20px 10px;
}
.listItem a{
	color: white;
	text-decoration: none;
}

.listItem a:hover{
	color: aqua;
	transition: ease 500ms;
}