.footerContainer{
	width: 100%;
	display: flex;
	background-image: url("../Image/background1.gif");
}
.logoAndInfo{
	width: 40%;
	padding: 2%;
	color: white;
	font-family: arial;
	text-align: left;
}
.footerLogo{
	width: 35%;
}
.footerLogo img{
	width: 100%;
}

.quickLinks{
	padding: 2%;
	width: 60%;
	display: flex;
}

.footerLink{
	margin-right: 20px;
	width: 25%;
}
#quickMainTitle{
	text-decoration:none;
	padding-bottom: 2px;
	border-bottom: white solid 3px;
	color:white;
	font-size:125%;
	font-family: arial;
	font-weight: bolder;
	
}
.quickSubTitle{
	border-radius: 5px;
	margin-top: 20px;
	padding-top: 10px;
	transition: ease 500ms;
}

#quickSubTitle{
	color: white;
	font-family: arial;
	text-decoration: none;
	transition: ease 500ms;
}
#quickSubTitle:hover{
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-family: arial;
	text-decoration: none;
	transition: ease 500ms;
	background-color: white;
	font-weight: bold;
	font-size: 20px;
}


@media all and (max-width:480px){
	.footerLogo{
		width: 75%;
	}
	.logoAndInfo{
		font-size: 75%;
	}
	.footerContainer{
		margin-top: 30px;
	}
	.footerLink{
		width:60%;
	}
	.quickLinks{
		width: 60%;
		font-size: 75%;
	}
	#quickSubTitle:hover{
		font-weight: bolder;
		font-size: 100%;
	}
}