body{
	margin: 0;
	padding: 0;
	/*padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: black;*/
	align-items: center;
	overflow-x: hidden;
}
.content{
	width:75%;
	margin: auto;
}
.globalHeader{
	background-color: #000000;
	background-image: url("../Image/background1.gif");
	max-height: 100px;
}
.headerLogo{
	margin-left: 2%;
	display: flex;
	width: 15%;
	height: 100px;
	margin-right: 10px;
}
.headerLogo img{
	height: 100%;
}
.headerLogo a{
		width: 75%;
	}

.globalNav{
	width: 50%;
	display: flex;
	align-items: center;
}
.navSearch{
	width: 35%;
	margin-right:5%;
	height: 100px;
	align-items: center;
	display: flex;

}
#searchBtn img{
	width: 10%;
}

.headerContainer{
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.headerLogo{
	margin-left: 5%;
	display: flex;
	width: 25%;
	height: 100px;
	
}
.headerLogo img{
	height: 100%;
}
#searchBtn{
	border:none;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	background-color: transparent;
}
#searchBtn img{
	width: 100%;
}
#searchBtn:hover{
	background-color: grey;
	border-radius: 5px;
	transition: ease 500ms;
}
#searchBox{
	height: 35px;
	background-color: transparent;
	border-left: 5px solid white;
	border-right:none;
	border-bottom: none;
	border-top: none;
	border-radius: 5px;
	width: 35%;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	transition: ease 500ms;
	padding-left: 5px;
	color: white;
}
#searchBox ::placeholder{
	color:white;
	opacity: 0.5;
		
}
#searchBox:focus{
	background-color: white;
	border:none;
	transition: ease 500ms;
	width: 150%;
	outline: none;
	color: black;
}
#searchBoxForm{
	align-items: center;
	display: flex;
	margin:0;
}
#searchTable{
	align-items: center;
}

.navList{
	list-style: none;
	display: flex;
	align-content: center;
	width: 100%;
}
.navList .listItem{
	display: inline-block;
	font-size: 100%;
	font-family: arial;
	font-weight: bolder;
	padding: 20px 10px;
	width: auto;
}
.listItem a{
	color: white;
	text-decoration: none;
	border-bottom: 1px solid white;
	padding:5px;
	border-radius: 5px;
}

.listItem a:hover{
	color: black;
	transition: ease 500ms;
	background-color:white;
	border-radius: 5px;
	
}
.globalMenu{
	display: none;
	align-items: center;
}

.menuLine{
	width: 30px;
	height: 4px;
	border-radius: 5px;
	background-color:white;
	margin-bottom: 4px;
}

/* Mobile Resoponsive */

@media all and (max-width: 480px){
	
	.content{
		width:60%;
		margin: auto;
		overflow-x: hidden;
		position: relative;
	}
	.globalNav{
		z-index: 1000;
		flex-direction: column;
	}
	.headerContainer{
		flex-direction: column;
	}

	.globalMenu{
		display: block;		
		position: absolute;
		right: 15px;
		top:15px;
	}
	.globalNav{
		align-items: right;
		width: 100%;
	}
	.navList{
		margin-bottom: -5px;
		background-color: white;
		list-style: none;
		display: none;
		width: 100%;
		border-radius:0px 0px 15px 15px;
		top:15px;
	}
	.navList .listItem{
		display: block;
		font-size: 90%;
		font-family: arial;
		font-weight: bolder;
		width:100%;
	}
	.navList a{
		color: black;
	}
	.headerLogo{	
		align-self:start;
		display: flex;
		width: 15%;
		height: 75px;
	}
	.globalHeader{
		max-height: 125px;
	}
	.listItem a{
		color: black;
		text-decoration: none;
		border-bottom: 1px solid black;
		padding:5px;
		border-radius: 5px;
	}

	.listItem a:hover{
		color: white;
		transition: ease 500ms;
		background-color:black;
		border-radius: 5px;
	
	}
	.navSearch{
		height: 50px;
		width: 90%;
		display: flex;
		padding-left: 5%;
		margin-left: 0;
		background-color: black;
		z-index: 1000;
	}
	
	.active{
		display: block;
	}
	.headerLogo{
		width: 40%;
	}
	.headerLogo a{
		width: 15%;
	}
	#searchBox{
		color: white;
	}
}