body{
	background:url("../../Image/bodybg.png");
 	background-size: cover;
	background-position: center;
	
}
.adminLoginStatus{
	margin-left: -80px;
	padding:40px;
	font-size: 18px;
	color:white;
	text-align: center;
	font-family: arial;
}


.adminLoginFormContainer{
	width:400px;
	position: absolute;
	background-color: #1E1E1E;
	height: 500px;
	top:20%;
	left:40%;
	padding:40px 0px 40px 60px;
	color: white;
	font-family: arial;
	border-radius: 20px;
}

.adminLoginFormTitle{
	font-size: 30px;
}
.adminLoginForm{
}
#adminLoginInput{
	width: 75%;
	height: 35px;
	margin-top: -10px;
	margin-bottom: 10px;
	outline: none;
	border-style: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	font-weight: bolder;
	transition: 500ms ease;
}
#adminLoginInput:focus{
	outline: none;
	background-color: black;
	color:white;
	transition: 500ms ease;
}
#adminLoginInput::placeholder{
	font-size: 20px;
}

#btnAdminLogin{
	border: none;
	background-color: mediumseagreen;
	font-size: 20px;
	padding: 15px;
	border-radius: 10px;
	width: 150px;
	transition: 500ms ease;
	cursor: pointer;
	outline: none;
}

#btnAdminLogin:hover{
	background-color: #014B09;
	color:white;
	transition: 500ms ease;
	outline: none;
}
#adminLoginCancel{
	border: none;
	background-color: red;
	font-size: 20px;
	color: white;
	padding: 15px;
	border-radius: 10px;
	width: 150px;
	transition: 500ms ease;
	cursor: pointer;
	margin-left: 10px;
	outline: none;
}
#adminLoginCancel:hover{
	outline: none;
	background-color: darkred;
	color:white;
	transition: 500ms ease;
}