.bookFormContainer{
	z-index: 10001;
	width:400px;
	position: fixed;
	background-color: #1E1E1E;
	height: 750px;
	top:2.5%;
	left:45%;
	padding:40px 0px 80px 60px;
	color: white;
	font-family: arial;
	border-radius: 20px;
	visibility: hidden;
}
.bookAdd .show{
	visibility: visible;
  	animation: fadeIn 500ms;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.bookFormTitle{
	font-size: 30px;
}
.bookAddForm{
}
#bookInput{
	width: 75%;
	height: 35px;
	margin-top: -10px;
	margin-bottom: 10px;
	outline: none;
	border-style: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	font-weight: bolder;
	transition: 500ms ease;
}
#bookInput:focus{
	outline: none;
	background-color: black;
	color:white;
	transition: 500ms ease;
}
#bookInput::placeholder{
	font-size: 20px;
}

#bookCategorySelect{
	width: 75%;
	height: 50px;
	margin-top: -10px;
	margin-bottom: 10px;
	outline: none;
	border-style: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	font-weight: bolder;
	transition: 500ms ease;
}

#bookCategorySelect:focus{
	outline: none;
	background-color: black;
	color:white;
	transition: 500ms ease;
}

#btnBookSubmit{
	border: none;
	background-color: mediumseagreen;
	font-size: 20px;
	padding: 15px;
	border-radius: 10px;
	width: 150px;
	transition: 500ms ease;
	cursor: pointer;
	outline: none;
}

#btnBookSubmit:hover{
	background-color: lime;
	color:black;
	transition: 500ms ease;
	outline: none;
}
#bookCancel{
	border: none;
	background-color: darkred;
	font-size: 20px;
	color: white;
	padding: 15px;
	border-radius: 10px;
	width: 150px;
	transition: 500ms ease;
	cursor: pointer;
	margin-left: 10px;
	outline: none;
}
#bookCancel:hover{
	outline: none;
	background-color: red;
	color:white;
	transition: 500ms ease;
}